@inject SweetAlertService Swal

<div class="container">
    <dvi class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg mt-5">
                <div class="card-header">
                    <h3>Categoria de platos para restaurant</h3>
                </div>
                <div class="card-body">
                    <EditForm Model="Categoria" OnSubmit="Grabar">
                        <DataAnnotationsValidator />
                        <div class="row mb-3">
                            <label class="form-label" for="nombre">Nombre:</label>
                            <input type="text" id="nombre" class="form-control" @bind-value="Categoria.Descripcion" autocomplete="off" />
                            <ValidationMessage For="() => Categoria.Descripcion"></ValidationMessage>
                        </div>
                        <div class="row mb-3">
                            <label class="form-label" for="comentarios">Comentarios:</label>
                            <input type="text" id="comentarios" class="form-control" @bind-value="Categoria.Comentarios" autocomplete="off" />
                            <ValidationMessage For="() => Categoria.Descripcion"></ValidationMessage>
                        </div>

                       
                        <div class="row row-cols-1">
                            <button type="submit" class="btn btn-primary w-25">Grabar</button>
                        </div>

                    </EditForm>
                </div>
            </div>
        </div>
    </dvi>
</div>
@code {

    [Parameter]
    public CategoriaDTO Categoria { get; set; } = new CategoriaDTO();

    [Parameter]
    public EventCallback OnGrabar { get; set; }

    private async void Grabar()
    {
        var result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title="Guardar",
                Text = "Desea guardar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                ConfirmButtonText = "Aceptar",
                ConfirmButtonColor = "#3085d6",
                CancelButtonText = "Cancelar",
                CancelButtonColor = "#d33"
            });

        if (result.IsConfirmed)
        {
            OnGrabar.InvokeAsync();
        }
    }
}