@page "/categorias/list"

@using Restaurant.Shared
@using Microsoft.AspNetCore.Authorization
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject SweetAlertService Swal

@attribute [Authorize(Roles = Constantes.RolAdministrador)]

<PageTitle>Categorias</PageTitle>
<h1>Categorias</h1>

<a class="btn btn-outline-primary" href="categorias/crear">Nueva categoria</a>

<hr />

@if (categorias is null)
{
    <p>Cargando...</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="table-primary">
                <th>Id</th>
                <th>Descripcion</th>
                <th>Comentarios</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in categorias)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Descripcion</td>
                    <td>@item.Comentarios</td>
                    <td>
                        <button class="btn btn-outline-secondary" @onclick="() => Editar(item.Id)"><i class="bi bi-pencil"></i></button>
                        <button class="btn btn-outline-danger" @onclick="() => Eliminar(item.Id)"><i class="bi bi-trash3"></i></button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
 

}

@code {

    public ICollection<CategoriaDTO>? categorias { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Cargar();
    }

    private async Task Cargar()
    {
        categorias = await Http.GetFromJsonAsync<CategoriaDTO[]>("api/Categorias");
    }

    private void Editar(int id)
    {
        NavigationManager.NavigateTo($"categorias/editar/{id}");
    }

    private async Task Eliminar(int id)
    {
        var result = await Swal.FireAsync(new SweetAlertOptions
            {

                Title = "Eliminar",
                Text = "Seguro de eliminar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                ConfirmButtonText = "Aceptar",
                ConfirmButtonColor = "#3085d6",
                CancelButtonText = "Cancelar",
                CancelButtonColor= "#d33"
            });

        if (result.IsConfirmed)
        {
            var ok = Swal.FireAsync(
               new SweetAlertOptions
                   {
                       Text = "Eliminado",
                       Icon = SweetAlertIcon.Success,
                       ConfirmButtonText = "OK"
                   }
            );
            await Http.DeleteAsync($"api/Categorias/{id}");
            await Cargar();
        }
       
    }


}