@page "/productos/crear"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = Constantes.RolAdministrador)]

@if (Categorias != null)
{
    <ProductoEditPage OnGrabar="Crear"
                      Titulo="Crear nuevo plato"
                      Request="ProductoNuevo"
                      Categorias="Categorias"/>
}
else
{
    <p>Cargando...</p>
}

@code {

    public ProductoDTORequest ProductoNuevo { get; set; } = new();

    public ICollection<CategoriaDTO>? Categorias { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Categorias = await Http.GetFromJsonAsync<ICollection<CategoriaDTO>>("api/Categorias");
    }

    private async Task Crear()
    {
        await Http.PostAsJsonAsync("api/Productos", ProductoNuevo);
        NavigationManager.NavigateTo("productos/list");
    }

}